<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTitle</key>
	<string>SUPER LIFE</string>
	<key>MainFont</key>
	<string>LLPIXEL.TTF</string>
	<key>SecondFont</key>
	<string>r-plaza_8.ttf</string>
	<key>CommonFont</key>
	<string>FZXS12.TTF</string>
	<key>MissionMode</key>
	<string>MISSION MODE</string>
	<key>FreeMode</key>
	<string>FREE MODE</string>
	<key>Shop</key>
	<string>SHOP</string>
	<key>EditorMode</key>
	<string>EDITOR MODE</string>
	<key>HelpInfo</key>
	<string>HELP INFO</string>
	<key>LifeNum</key>
	<string>Life Count: %d</string>
	<key>GenerationNum</key>
	<string>Generation: %d</string>
	<key>Start</key>
	<string>START</string>
	<key>Pause</key>
	<string>PAUSE</string>
	<key>Reset</key>
	<string>RESET</string>
	<key>Back</key>
	<string>BACK</string>
	<key>Edit</key>
	<string>EDIT</string>
	<key>Save</key>
	<string>SAVE</string>
	<key>SelectMission</key>
	<string>SELECT MISSION</string>
	<key>Slow</key>
	<string>SLOW</string>
	<key>Fast</key>
	<string>FAST</string>
	<key>TemplateName</key>
	<string>INPUT NAME</string>
	<key>ErrorInfo</key>
	<string>Template name can not be empty!</string>
	<key>ErrorInfo2</key>
	<string>The template name consists only of digital and English letters!</string>
	<key>ErrorInfo3</key>
	<string>Please select a template to edit!</string>
	<key>ErrorInfo4</key>
	<string>There is no template here by that name, please select again!</string>
	<key>SaveOK</key>
	<string>Saved successfully!</string>
	<key>EditOK</key>
	<string>You can edit now!</string>
	<key>NextPage</key>
	<string>NEXT</string>
	<key>GameDesc</key>
	<string>The Game of Life, also known simply as Life, is a cellular automaton devised by the British mathematician John Horton Conway in 1970. The &quot;game&quot; is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial configuration and observing how it evolves or, for advanced players, by creating patterns with particular properties.</string>
	<key>GameRule</key>
	<string>The universe of the Game of Life is an infinite two-dimensional orthogonal grid of square cells, each of which is in one of two possible states, alive or dead. Every cell interacts with its eight neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent. At each step in time, the following transitions occur:</string>
	<key>GameRuleDetail</key>
	<string>1. Any live cell with fewer than two live neighbours dies, as if caused by under-population.
2. Any live cell with two or three live neighbours lives on to the next generation.
3. Any live cell with more than three live neighbours dies, as if by overcrowding.
4. Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</string>
	<key>GameRuleEnd</key>
	<string>The initial pattern constitutes the seed of the system. The first generation is created by applying the above rules simultaneously to every cell in the seed—births and deaths occur simultaneously, and the discrete moment at which this happens is sometimes called a tick (in other words, each generation is a pure function of the preceding one). The rules continue to be applied repeatedly to create further generations.</string>
	<key>GameOrigins</key>
	<string>ORIGINS</string>
	<key>GameRules</key>
	<string>RULES</string>
	<key>ExampleOfPatterns</key>
	<string>EXAMPLE OF PATTERNS</string>
	<key>Patterns</key>
	<string>The patterns of game life can be divided into four categories: Stable, Oscillating, Moving, Infinite.</string>
	<key>Stable</key>
	<string>Examples of Stable classes are shown below:</string>
	<key>Oscillating</key>
	<string>Examples of Oscillating classes are shown below:</string>
	<key>Moving</key>
	<string>Examples of Moving classes are shown below:</string>
	<key>Infinite</key>
	<string>Examples of Infinite classes are shown below:</string>
	<key>References</key>
	<string>REFERENCES</string>
	<key>WebSites</key>
	<string>Conway Life : http://www.conwaylife.com/

Life Lab : http://www.trevorrow.com/lifelab/index.html

Game of Life News : http://pentadecathlon.com/lifeNews/index.php

Wiki Site : http://en.wikipedia.org/wiki/Conway_Game_of_Life</string>
</dict>
</plist>
